/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: rgb(227, 227, 227);
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  background: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5 {
  color:  rgba(0, 0, 0, 1);
}

h1 {
  font-size: 44px;
  font-family: Futura;
  color: rgb(255,255,255);
  border-right: 2px solid rgb(0,0,0);
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
  font-family: "Helvetica Neue";
  /*padding: 0 0 5px 0;*/
  margin: 5px 0 5px 0;
}

h4 {
  font-size: 18px;
  /*padding: 5px 0 5px 0;*/
  margin: 5px 0 5px 0;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

a {
  text-decoration: none;
}

/*
  ========================================
  Hero typography
  ========================================
*/

.hero {
  color: rgba(255, 255, 255, 1);
  padding: 15px;
  border-right: 2px solid rgb(0,0,0);
  border-left: 2px solid rgb(0,0,0);
}

.hero h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.hero h4 {
  font-size: 24px;
  /*padding-bottom: 10px;*/
}

.hero p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  /*margin-top: 100px*/
}


/*
  ========================================
  box sizing
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Grid
  ========================================
*/

.container {
  margin: 0 auto;
  width: 90%;
}

.grid {
  padding: 0 15px 15px 15px;
  margin: auto;
  width: 90%;
  border-left: 2px solid rgb(0,0,0);
  border-right: 2px solid rgb(0,0,0);
  border-bottom: 2px solid rgb(0,0,0);
}

/*.transform {
  -webkit-transition: width 1s linear;
  -moz-transition: width 1s linear;
  -o-transition: width 1s linear;
  -ms-transition: width 1s linear;
  transition: width 1s linear;
}*/

/*
  ========================================
  header classes
  ========================================
*/
.header {
  width: 100%;
  background: rgb(0,0,0);
  padding: 0 5px 5px 5px;
  height: auto;
  vertical-align: middle;
  text-align: center;
}

.logo{
  background: rgb(0,0,0);
  padding-left: 10px;
  display: inline-block;
}

.logo a{
  color: rgb(255,255,255);
}

.logo a:hover {
  color: rgb(115,115,115);
  cursor: pointer;
}

.primary-nav {
display: inline-block;
width: 72%;
}

.primary-nav a {
  color: rgb(255,255,255);
  font-size: 24px;
}

.primary-nav a:hover {
  color: rgb(115,115,115);
  cursor: pointer;
}

.group {
  height: auto;
}

/*
  ========================================
  hero classes
  ========================================
*/

.heroArticleClass {
  border: 1px solid rgb(242, 242, 242);
  width: 100%;
  display: block;
  margin: auto;
  padding: 5px;
  height: 300px;
  overflow: hidden;
}

.heroArticleClass:hover {
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.heroArticleClass h4 a:hover{
  color: rgba(169, 178, 185, 1);
}

.heroImageDiv{
  width: 100%;
  margin: auto;
  height: 180px;
  overflow: hidden;
  background: url('http://sportytourist.com/assets/images/logo.gif');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 100%
}

.heroImageDiv img{
  width: 100%;
}

/*--------Expansion of hero on click--------------*/
.heroArticleExpanded {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  display: block;
  margin: auto;
  height: auto;
  padding: 5px;
}

.heroImageDivExpanded {
  width: 50%;
  margin-right: 5px;
  float: left;
  height: auto;
  background: url('http://sportytourist.com/assets/images/logo.gif');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 100%
}

.heroImageDivExpanded img {
  width: 100%;
}
/*----------------------------------------*/

/*
  ========================================
  articles classes
  ========================================
*/
.sportsArticleClass {
  border: 1px solid rgb(242, 242, 242);
  width: 33.33%; /*was 50%*/
  display: inline-block;
  margin: auto;
  padding: 5px;
  vertical-align: top;
  height: 265px;
  overflow: hidden;
}

.sportsArticleClass p {
   margin-top: 20px;
}

.sportsArticleClass:hover {
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.imageDiv {
  width: 100%;
  margin: auto;
  height: 180px;
  overflow: hidden;
  background: url("http://sportytourist.com/assets/images/logo.gif");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 100%;
}

.imageDiv img {
  width: 100%;
}

.sportsArticleClass h4 a:hover{
  color:  rgba(169, 178, 185, 1);
}

/*--------Expansion of article on click--------------*/
.sportsArticleExpanded {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  /*width: 100%;*/
  margin: auto;
  height: auto;
  padding: 5px;
  position: relative;
  /*float: left;*/
}

.imageDivExpanded {
  width: 100%;
  margin-right: 5px;
  float: left;
  height: auto;
  background: url('http://sportytourist.com/assets/images/logo.gif');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 100%
}

.imageDivExpanded img {
  width: 100%;
}
/*------------------------*/

/*
  ========================================
  more button
  ========================================
*/
.moreButtonDiv {
  background: rgb(191, 191, 191);
  width: 60px;
  float: right;
  text-align: center;
  padding: 5px 0 5px 0;
  border: 2px solid rgb(0, 0, 0);
  /*border-radius: 10px;*/
  font: normal normal bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(255,255,255);
}

.moreButtonDiv:hover {
  background: rgb(128, 128, 128);
}

/*
  ========================================
  footer classes
  ========================================
*/

.primary-footer {
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  border-left: 2px solid rgb(0,0,0);
  border-right: 2px solid rgb(0,0,0);
  border-bottom: 2px solid rgb(0,0,0);
  padding: 15px;
  display: block;
  font-family: futura;
  text-align: center;
}

.primary-footer a{
  color: rgb(255,255,255);
}

.primary-footer a:hover {
  color: rgb(115,115,115);
  cursor: pointer;
}
