/*
  ========================================
  Links
  ========================================
*/
.primary-header a,
.primary-footer a {
  color: rgba(255, 255, 255, 1);
}

.primary-header a:hover,
.primary-footer a:hover {
  color: rgba(100, 136, 128, 1);
}

a:hover {
  color: rgba(169, 178, 185, 1);
}

a {
  color: rgba(100, 136, 128, 1);
  text-decoration: none;
}

p a {
  border-bottom: 1px solid rgba(223, 226, 229, 1);
}

/*
  ========================================
  Grid
  ========================================
*/

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

.teaser a:hover h3{
  color:  rgba(169, 178, 185, 1);
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
   border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 10px 30px;
}

.btn-alt:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(100, 136, 128, 1);
}
/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: rgba(100, 136, 128, 1);
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: rgba(255, 255, 255, 1);
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  background: #fff;
  min-width: 960px;
  padding: 66px 0 44px 0;
}
