/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: rgb(227, 227, 227);
  /*color: #888;*/
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  background: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5 {
  color:  rgba(0, 0, 0, 1);
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
  font-family: "Helvetica Neue"
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}


/*
  ========================================
  box sizing
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Grid
  ========================================
*/

.container {
  margin: 0 auto;
  width: 90%;
}

.grid {
  margin: auto;
  width: 90%;
}/*- Not sure if I need the width to be set to a percentage. Used to be 960px for both
container and grid*/


/*.container {
  padding-left: 30px;
  padding-right: 30px;
}*/

/*
  ========================================
  classes for articles
  ========================================
*/
.sportsArticleClass {
  border: 1px solid rgb(242, 242, 242);
  /*padding: 5px;*/
  width: 50%;
  /*max-width: 500px;*/
  display: inline-block;
  margin: auto;
  padding: 2px;
  vertical-align: top;
  height: 350px;
  overflow: hidden;
}

.sportsArticleClass:hover {
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.sportsArticleClass img {
  width: 98%;
  height: 300px;
  display: block;
  margin: auto;
  /*position: relative;
  display: inline-block;*/
}

.sportsArticleClass h4 a:hover{
  color:  rgba(169, 178, 185, 1);
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

.teaser a:hover h3{
  color:  rgba(169, 178, 185, 1);
}
